@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');


hr {
    width: 100%;
}


body {
    background-color: #050206;
    color: #CCCDC7;
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    height: 100vh;
}

#section-01 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#bg-image-container {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    text-align: center;
    justify-content: center;
}
#bg-image {
    width: 40em;
}
#about-simo {
    font-size: 150px;
    font-weight: 900;
    margin-bottom: 0;
}
#just-living {
    margin-top: 0;
}

#explore-button {
    align-content: center;
    background-color: #050206;
    border: 1px #CCCDC7 solid;
    border-radius: 25px;
    color: #CCCDC7;
    cursor: pointer;
    height: 3rem;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
    width: 7rem;
    margin-top: 2%;
}

#section-02 {
    background: radial-gradient(circle at top left, #811009, transparent, transparent, transparent);
    justify-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#chi-sono {
  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  margin-bottom: 0;
  margin-top: 0;
}

#section-03 {
    background: radial-gradient(circle at top left, #9747FF, transparent, transparent, transparent);
    justify-items: center;
    padding-top: 7%;
}
#experiences {
    width: 50%;
    margin-top: 2em;
}
.experience-box {
    height: 3em;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
.experience-data {
    color: #9A8174;
}

/* QUERIES */

@media screen and (max-width: 1440px) {
    #bg-image {
        width: 30em;
    }
    #about-simo {
        font-size: 100px;
    }
    #just-living {
        font-size: 25px;
    }
    #explore-button {
        height: 2.5rem;
        width: 6rem;
        font-size: 14px;
    }
    #chi-sono {
        font-size: 150px;
    }
    #experiences {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    #section-01 {
        gap: 1em;
    }
    #bg-image {
        width: 20em;
    }
    #about-simo {
        font-size: 70px;
    }
    #just-living {
        font-size: 20px;
    }
    #explore-button {
        height: 2rem;
        width: 5rem;
        font-size: 12px;
    }
    #chi-sono {
        font-size: 100px;
    }
    #experiences {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    #section-01 {
        gap: 1em;
    }
    #bg-image {
        width: 15em;
    }
    #about-simo {
        font-size: 50px;
    }
    #just-living {
        font-size: 15px;
    }
    #explore-button {
        height: 1.5rem;
        width: 4rem;
        font-size: 10px;
    }
    #chi-sono {
        font-size: 70px;
    }
    #experiences {
        width: 90%;
    }
    #section-02 {
        width: 100%;
    }
    .chi-sono-container {
        width: 80%;
        margin: auto;
    }
    #section-03 {
        width: 100%;
    }
    #explore-button {
        height: 3em;
        font-size: 15px;
        width: 10rem;
    }

    #section-03 {
        padding-top: 20%;
    }
    #experiences {
        width: 100%;
        width: 80%;
        margin: auto;
        margin-top: 5em;
    }
    .experience-box {
        flex-direction: column;
        height: auto;
        gap: 0.5em;
    }
    .experience-data {
        font-size: 14px;
    }
}