#section-unique {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 1em;
    margin-bottom: 5%;
    padding: 20%;
    padding-top: 0%;
}
.new-column {
    width: auto;
}
#best-article-data-2 {
    width: auto;
    padding: 3em;
    text-align: center;
    color: #CCCDC7;
}
.new-article-big {
    background-image: url("../0 - IMAGES/cosa_nostra_preview.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    padding-left: 5em;
    padding-right: 5em;
}

#column-01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-displayed-2 {
    width: 48%;
    display: flex;
    flex-direction: column;
    color: #CCCDC7;
    border-radius: 25px;
    margin-bottom: 2em;
}

/*QUERIES*/

@media screen and (max-width: 1440px) {
    #best-article-data-2 {
        margin-top: 10em;
    }
}

@media screen and (max-width: 1000px) {
    #section-01 {
        gap: 2em;
    }
    .blog-column {
        width: 45%;
    }
    #column-01 {
        flex-direction: column;
        align-items: center;
    }
    .article-displayed-2 {
        width: 90%;
    }
    #section-unique {
        padding: 5%;
        padding-top: 0%;
    }
    #best-article-data-2 {
        margin-top: 5em;
    }
}

@media screen and (max-width: 600px) {
    #section-01 {
        flex-direction: column;
        gap: 2em;
    }
    .blog-column {
        width: 90%;
    }
    #section-unique {
        padding: 5%;
        padding-top: 0%;
    }
    #best-article-data-2 {
        margin-top: 5em;
    }

}